#divFrame{
    background-color: blueviolet;
    display: grid;
    justify-content: center;
}

#canvasGame {


}

#divScore, #buttonStart {
    font-size: 2rem;

}

#buttonStart {
    cursor: pointer;
    background-color: antiquewhite;

}
